.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    width: 100%;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__column {
    width: 33%;
}
.header__column:first-child {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.header__column:nth-child(2) {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

input {
    font-weight: bold;
    background-color: transparent;
    font-size: 30px;
    color: whitesmoke;
    border: none;
}

input::placeholder {
    color: whitesmoke;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

#greeting {
    font-size: 35px;
}

.middle {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-form input {
    width: 500px;
}

.bottom {
    display: flex;
    width: 100%;
    height: 25vh;
    justify-content: center;
}

#quote {
    font-size: 25px;
    color: whitesmoke;
}

#todo-list li {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 800;
}

#todo-list li > button {
    font-size: 25px;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    background-color: tomato;
}